.card-option{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-option:hover, .card-footer:hover {
    background-color: #106cc8;
    color: rgba(255, 255, 255, 0.87);
}

.my-perfil{
    height: 200px;
}

.card-footer{
    cursor: pointer;
}

.value{
    font-size: 50px;
}