<div class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="card col-lg-6 col-md-8 mx-auto">
            <div class="p-3">
                Transferir
            </div>

            <div [formGroup]="form" class="pr-5 pl-5 pb-3">

                <div class="mb-2 row">
                    <label class="col-form-label">
                        Fecha
                    </label>
                    <input type="text" disabled class="form-control" formControlName="date">
                </div>

                <div class="mb-2 row">
                    <label class="col-form-label">
                        Nombre
                    </label>
                    <input type="text" class="form-control" formControlName="name">
                    <ng-container *ngIf="showMessegeError('name')">
                        <error-field [text]="messegeError('name')"></error-field>
                    </ng-container>
                </div>

                <div class="mb-2 row">
                    <label class="col-form-label">
                        Monto
                    </label>
                    <input type="number" class="form-control" formControlName="value">
                    <ng-container *ngIf="showMessegeError('value')">
                        <error-field [text]="messegeError('value')"></error-field>
                    </ng-container>
                </div>

                <div class="mb-2 row">
                    <label class=" col-form-label">
                        Destino
                    </label>
                    <input type="text" class="form-control" formControlName="receiver">
                    <ng-container *ngIf="showMessegeError('receiver')">
                        <error-field [text]="messegeError('receiver')"></error-field>
                    </ng-container>
                </div>

                <div class="mt-3 row">
                    <button type="button" class="btn btn-danger mr-3" (click)="goToBack()">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="send()">
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>